<!DOCTYPE html>
<html>
    <head title="Invoice">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
         
    </head> 
    <body>
        <div class="container">
            <div class="container-fluid">

                <!--Page Header-->
                <div class="row-fluid page-header">
                    <h2>Finance ++</h2>
                </div>

                <!--Invoice App Start -->
                <div ng-app="invoice" ng-controller="InvoiceController as invoice">
                    <b>Invoice:</b>
                <div>
                    Quantity: <input type="number" ng-model="invoice.qty" required >
                </div>
                <div>
                    Costs: <input type="number" ng-model="invoice.cost" required >
                    <select ng-model="invoice.inCurr">
                        <option ng-repeat="c in invoice.currencies">{{c}}</option>
                    </select>
                </div>
                <div>
                    <b>Total:</b>
                    <span ng-repeat="c in invoice.currencies">
                        {{invoice.total(c) | currency:c}}
                    </span>
                    <button class="btn" ng-click="invoice.pay()">Pay</button>
                </div>
                </div><!-- Invoice App End-->

            </div>
        </div>   
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>   
        <script type="text/javascript" src="Scripts/invoice.js"></script>  
        <script type="text/javascript" src="Scripts/finance.js"></script>    
    </body>
</html>