<!DOCTYPE html>
<html>
    <head title="Invoice">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
         
    </head> 
    <body>
        <div class="container">
            <div class="container-fluid">

                <!--Page Header-->
                <div class="row-fluid page-header">
                    <h3>Zippy!</h3>
                </div>

                <div ng-app="app">
                    <input type="text" ng-model="model.title">
                    <input type="text" ng-model="model.content">
                    
                    <zippy title="{{ model.title }}">
                        <!-- Transcluded contents like model.content have the scope of the parent controller -->
                        The content is: {{ model.content }} 
                    </zippy>
                </div>

            </div>
        </div>   
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>   
        <script type="text/javascript" src="scripts.js"></script>  
    </body>
</html>