<div class="well well-large">{{ model.message }}</div>
<div class="well well-large">
    <p>Load Data says: <strong>{{ model.loadMessage }}</strong></p>
    <p>Prep Data says: <strong>{{ model.prepMessage }}</strong></p>
</div>