<!DOCTYPE html>
<html ng-app="formExample">
    <head title="Invoice">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
        <style type="text/css">
            div[contentEditable] {
                cursor: pointer;
                background-color: #D0D0D0;
            }
        </style>
         
    </head> 
    <body>
        <div class="container">
            <div class="container-fluid">

                <!--Page Header-->
                <div class="row-fluid page-header">
                    <h3>Custom Element Using attribute directive</h3>
                </div>
                <div contentEditable="true" ng-model="content" title="Click to edit"> Some</div>
                <pre>model = {{content}}</pre>
                <pre>model in reverse = {{ content | reverse }}</pre>

                <!--Page Header-->
                <div class="row-fluid page-header">
                    <h3>Number Validation with Directives</h3>
                </div>
                <div >
                    <form name="numForm" class="form-horizontal" novalidate>
                        <div class="control-group">
                            <label class="control-label">Size (integer 0 -10):</label>
                            <div class="controls">
                                <!-- Using the integer directive -->
                                <input integer type="number" ng-model="size" name="size" min="0" max="10">{{size}}
                                <span ng-show="numForm.size.$error.integer">This is not a valid integer</span>
                                <span ng-show="numForm.size.$error.min || numForm.size.$error.max">The value must be in range 0 to 10</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Length (float):</label>
                            <div class="controls">
                                <!-- Using the smart-float directive -->
                                <!-- Using ng-model-options to update the model after 500ms normally, but on blur to update the model immediately -->
                                <input smart-float ng-model="length" name="length" type="text" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">{{length}}
                                <span ng-show="numForm.length.$error.float">This is not a valid float</span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row-fluid page-header">
                    <h3>Form</h3>
                </div>
                <!--Form Example App Start -->
                <div ng-controller="ExampleController">
                <form name="form" novalidate class="form-horizontal css-form">
                    <div class="control-group">
                        <label class="control-label">Name:</label>
                        <div class="controls">
                            <input type="text" ng-model="user.name" name="uName" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">E-mail:</label>
                        <div class="controls">
                            <input type="email" ng-model="user.email" name="uEmail" required>
                            <div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">
                                Invalid:
                                <span ng-show="form.uEmail.$error.required">Tell us your email</span>
                                <span ng-show="form.uEmail.$error.email">This is not a valid email</span>
                            </div>
                        </div>                        
                    </div>
                    <div class="control-group">
                        <label class="control-label">Gender:</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" ng-model="user.gender" value="male">Male
                            </label>
                            <label class="radio inline">
                                <input type="radio" ng-model="user.gender" value="female">Female
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="user.agree" name="userAgree" required>I agree
                            </label>
                            <input type="text" ng-model="user.agreeSign" ng-show="user.agree" required>
                            <div ng-show="!user.agree || !user.agreeSign">Please Agree and sign</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <button ng-click="clear()" class="btn btn-danger">Clear</button>
                            <button ng-click="reset()" class="btn" ng-disabled="isUnchanged(user)">Reset</button>
                            <button ng-click="update(user)" class="btn btn-primary" ng-disabled="form.$invalid || isUnchanged(user)" >Save</button>
                        </div>
                    </div>
                </form>

                <pre>form = {{ user | json}}</pre>
                <pre>form = {{ master | json}}</pre>
                </div><!-- Form Example App End-->

            </div>
        </div>   
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script> 
        <script type="text/javascript" src="Scripts/script.js"></script>   
    </body>
</html>