<!DOCTYPE html>
<html>
    <head title="Invoice">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
         
    </head> 
    <body>
        <div class="container">
            <div class="container-fluid">

                <!--Page Header-->
                <div class="row-fluid page-header">
                    <h3>Playing With Directives</h3>
                </div>

                <div ng-app="dTest">

                    <p>Controller as syntax</p>
                    <div ng-controller="RoomController as room" class="alert">
                        <button ng-click="room.openDoor()" class="btn btn-inverse">     
                            {{room.buttonTitle}}</button>
                        
                        <div ng-controller="ClosetController as closet" class="alert alert-danger">
                            <button ng-click="closet.openDoor()" class="btn btn-primary">
                                {{closet.buttonTitle}}</button>
                            <button ng-click="room.openDoor()" class="btn btn-inverse">
                                {{room.buttonTitle}}</button>
                        </div>
                    </div>
                    <hr>

                    <!-- Isolate Scope -->
                    <p>Isolate Scopes "@" and "="</p>
                    <div ng-controller="DrinkCtrl">
                        <input type="text" ng-model="ctrlFlavor"> Controller
                        <br><br>
                        <div twoway flavor="ctrlFlavor"></div>
                        <br>
                        <div drink flavor="{{ctrlFlavor}}"></div>
                    </div>
                    <hr>


                    <p>Isolate scope &amp for expressions</p>
                    <div ng-controller="ChoreCtrl">
                        <kid done="logChore(chore)"></kid>
                    </div>
                    <hr>


                    <!-- Heirarchical Directive communication -->
                    
                    <p>Country, State, and City - Heirarchical Directive Communication ...output in console</p>
                    <country>
                        <state>
                            <city></city>
                        </state>
                    </country>

                    <!-- Components and Containers w/ Transclusion -->
                    <hr>
                    <p>Two Kinds of Directives, Components, and Containers (which contain components)</p>
                    <clock timezone="MST" title=" : I'm a component"></clock>

                    <panel title="I'm a Container!">
                        <clock timezone="PST"></clock>
                        <clock timezone="EST"></clock>
                    </panel>
                    <!-- Directives talking to each other -->
                    <hr>
                    <p>Directive on Directive comms</p>
                    <superhero strength flight speed class="alert">Superman</superhero>
                    <superhero speed class="alert alert-error">Flash</superhero>
                    <superhero strength class="alert alert-success">Hulk</superhero>

                    <!-- Directive communication with controller -->
                    <hr>
                    <p>Directive communication with TweetCtrl</p>
                    <div ng-controller="TweetCtrl" mouseinto="loadMoreTweets()" mouseout="deleteTweets()" class="alert">Tweet Ctrl ...output in console</div>

                    <!-- Attribute Directive With Behavior attached -->
                    <hr>
                    <p>Mouse enter and leave behavior</p>
                    <div enter="alert-success" leave entermessage="You're In!" leavemessage="You just left!" class="alert">Mouse into and then out</div>

                    <!-- Basic Attribute Directive -->
                    <hr>
                    <p>Attribute directive</p>
                    <div batman class="alert alert-success">Look at the console log</div>
                    <!-- Basic Element Directive -->
                    <hr>
                    <p>A first directive</p>
                    <superman></superman>
                </div>

            </div>
        </div>   
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>   
        <script type="text/javascript" src="scripts.js"></script>  
    </body>
</html>