<!DOCTYPE html>
<html>
    <head title="Invoice">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
         
    </head> 
    <body>
        <div class="container">
            <div class="container-fluid">

                <!--Page Header-->
                <div class="row-fluid page-header">
                    <h3>The View and the DOM</h3>
                </div>

                <div ng-app="app">

                    <!-- Exploring $index, $log, $event etc -->
                    <div ng-controller="foo as food" 
                        class="btn-group btn-group-vertical">
                        <button 
                            ng-repeat="item in 'dataset'.split('') track by $index"
                            class="btn btn-block"
                            ng-mouseenter="food.myFunc($event)"
                            ng-click="$log.debug($event)">
                            {{ $index }} . {{ item }}
                            {{ ev.pageX }}
                        </button>
                    </div>

                    <!-- angular.element -->                    
                    <hr>
                    <p>angular.element === $element === jquery() === $()</p>
                    <dumb-password></dumb-password>
                </div>

            </div>
        </div>   
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>   
        <script type="text/javascript" src="scripts.js"></script>  
    </body>
</html>